
		<section id="banner">
			<div class="wrapper">
				<header>
					<p id="logo">China<span>Dance</span>Team</p>

					<nav>
						<a class="hm" href="">Home</a>
						<a href="">Portfolio</a> 
						<a href="#" onclick="lrt()">Services</a>
						<a href="#test-form" id="btn_a" class="button button_secondary button_small popup">Get in touch</a>
					</nav>
				</header>

				<div class="content">
					<h1 class="title">We create amazing shows</h1>
					<h2 class="sub_title"> <b>Chine<span>Dance</span>Team</b> предлагает вам стать частью своей истории. Мы срочно ищем танцора в команду!</h2>
					<div class="button_wrapper">
						<a href="#test-form" class="btn_1 button button_highlight popup">Contact Us</a>
						<a href="https://youtu.be/qJctft3v67M" class="btn_2 button button_secondary" target="_blank">Play Video</a>
					</div>

					
					<div class="see_more"><%= image_tag "arrows_down.png" %>
					</div>	
				</div>
			</div>
		</section>

		<section id="services" class="cf">
			<div class="wrapper">
				<div class="service">
					<h3>Asia Global Connection</h3>
					<p>Cris: "<em>Thanks, guys, you are perfect professional team.</em>"</p>
					<a href="#" class="button button_highlight button_small">Learn More</a>
				</div>

				<div class="service middle">
					<h3>China Culture Center</h3>
					<p>Xu Jiaye: "<em>Time with you it's a great experience for our cultures.</em>"</p>
					<a href="#" class="button button_highlight button_small">Learn More</a>
				</div>

				<div class="service">
					<h3>The Shanghai Synergy Group</h3>
					<p>Chenxi Zhu: "<em>Advise!</em>"</p>
					<a href="#" class="button button_highlight button_small">Learn More</a>
				</div>
			</div>
		</section>

		<section id="past_work">
			<div class="wrapper">
				<h2 class="title">Творчество, работа:</h2>

				<ul id="slider_buttons">
					<a href="#">
						<li class="current"></li>
					</a>
					<a href="#">
						<li></li>
					</a>
					<a href="#">
						<li></li>
					</a>
				</ul>

				<ul id="slider">
					<li><%= image_tag "for_1.jpg" %></li>
					<li><%= image_tag "for_2.JPG" %></li>
					<li><%= image_tag "for_4.JPG" %></li>
				</ul>
			</div>
		</section>

		<section id="contact">
			<div class="wrapper">
				<h2 class="title">Артист!</h2>
				<p class="sub_title">Остались считаные недели до старта нового проекта. Если ты обладаешь достаточной танцевальной подготовкой, напиши нам и мы пригласим тебя на просмотр.</p>
				<a href="#test-form" class="button button_highlight button_large popup">Contact Us</a>
			</div>
		</section>

		<footer>
			<p class="copyright">&copy; 2016 <a href="#communication" class="popup">JokOotk</a> / <b>Chine<span>Dance</span>Team</b></p>
		</footer>
		<!-- link that opens popup -->
<!--
<div class="hidden">
	<form id="communication">
		<h3>Если ваc интересует создание и организация вашего интернет ресурса, напишите нашему администратору.</h3>
		<p><b>ВК</b> : <a href="https://vk.com/vorobiov_a_p">Артем</a></p>
		<hr>
		<p><b>Email</b>: <br> artem-vorobiov_pavlovich@mail.ru</p>
	</form>

	<form id="test-form" class="white-popup-block mfp-hide">
		<fieldset>
			<h1>Form</h1>
				<label for="name">Ф.И.О</label>
				<input id="name" name="name" placeholder="Лучший Артем Леонидович" required="" type="text">
				<label for="email">Почта</label>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				<label for="phone">Телефон</label>
				<input id="phone" name="phone" placeholder="095 999 66 44" required="" type="tel">
				<label for="textarea">Информация</label><br>
				<textarea id="textarea" cols="5" rows="3" placeholder="Возраст. Рост. Вес. Танцевальная подготовка, опыт. Почему к нам?"></textarea>
				<input type="button" value="Отправить">
				<a href="https://vk.com/vorobiov_a_p" class="wrAdm"><i class="fa fa-vk" aria-hidden="true">  Напиши в вк администратору</i></a>
		</fieldset>
	</form>
</div>
-->