<div  class="rotate">
<h1>Мы свяжемся с вами.</h1>
<br>
<h2>Спасибо</h2>
</div>
<br>
<div class="see_more"> <a href="https://polar-brook-59826.herokuapp.com"> <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
 </a></div>